.purchase-history-table {
  th {
    white-space: nowrap;
  }
  td {
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    white-space: nowrap;
  }
}
